html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(#12949055 1.5px, transparent 1.5px),
    radial-gradient(#12949055 1.5px, transparent 1.5px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  overflow: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

dt {
  color: #68d9b5;
}

* {
  box-sizing: border-box;
}

/* Entry */

.entry-title {
  text-align: center;
}
